:root {
  --default-padding: 10px;
  --border-radius: 15px;
  --border-radius-when-empty: 25px;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body, button, input, select {
  position: relative;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.App {
  display: block;
}

button {
  margin-left: 24px;
}

.modal-switch {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  font-size: 24px;
}